@keyframes libraryFieldFadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes libraryFieldFadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes libraryFieldSlideIn {
  from { transform: translateY(15%); }
  to { transform: translateY(0); }
}

@keyframes libraryFieldSlideOut {
  from { transform: translateY(0); }
  to { transform: translateY(-10%); }
}

.library-field-m {
  &-slide {
    display: none;
  }

  &-slide.is-open {
    display: block;
  }

  &-slide[aria-hidden='false'] &__overlay {
    animation: libraryFieldFadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  &-slide[aria-hidden='false'] &__container {
    animation: libraryFieldSlideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  &-slide[aria-hidden='true'] &__overlay {
    animation: libraryFieldFadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  &-slide[aria-hidden='true'] &__container {
    animation: libraryFieldSlideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  &-slide &__container,
  &-slide &__overlay {
    will-change: transform;
  }
}
