.library-field-m {
  &__list-item {
    &__container {
      align-items: center;
      display: grid;
      grid-column-gap: 2%;
      grid-template-columns: 28% 70%;
      padding-bottom: 8px;

      p {
        margin: 0;
      }

      &__item {
        &--name {
          font-size: 14px;
          font-weight: bold;
        }
      }
    }

    .type {
      display: none;
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding-top: 15px;
  }
}
