// stylelint-disable selector-max-id
#quick-list-data-item {
  display: none;
}
// stylelint-enable selector-max-id

.library-field-m {
  &__overlay {
    align-items: center;
    background: $modal-overlay-bg;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
  }

  &__container {
    background-color: $white;
    border-radius: 4px;
    box-sizing: border-box;
    max-height: 90vh;
    max-width: 825px;
    min-width: 600px;
    overflow-y: auto;
    padding: 30px;
  }

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    box-sizing: border-box;
    color: $blue;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__close {
    background: transparent;
    border: 0;
  }

  &__content {
    color: $modal-text;
    line-height: 1.5;
    margin-bottom: 2rem;
    margin-top: 2rem;

    .search {
      line-height: 1.12rem;
      margin-right: 5px;
      padding-left: 5px;
      width: 250px;
    }
  }

  footer {
    padding-bottom: 15px;
  }

}
