{#
/**
 * @file
 * Quick List Modal on Admin Field Pages
 */
#}
<div id="quick-list-modal" class="library-field-m library-field-m-slide" aria-hidden="true">
  <div class="library-field-m__overlay" tabindex="-1" data-micromodal-close>
    <div class="library-field-m__container" role="dialog" aria-modal="true" aria-labelledby="quick-list-modal-title" >
      <header class="library-field-m__header">
        <h2 class="library-field-m__title" id="quick-list-modal-title">
          Quick list
        </h2>
        <button class="library-field-m__btn library-field-m__btn--right button" data-micromodal-close aria-label="Close this dialog window">
          {{ "Close"|t }}
        </button>
      </header>
      <main class="library-field-m__content" id="quick-list-content">
        <div id="quick-list-data">
          <input class="search js-search-input" placeholder="{{ 'Search'|t }}" />
          <select name="type_filter" class="js-type-filter">
            <option selected value="any">{{ "Any Type"|t }}</option>
            <option value="{{ "Core Module" }}">{{ "Core Module"|t }}</option>
            <option value="{{ "Core Theme" }}">{{ "Core Theme"|t }}</option>
            <option value="{{ "Theme" }}">{{ "Theme"|t }}</option>
            <option value="{{ "Module" }}">{{ "Module"|t }}</option>
          </select>
          <button class="button js-clear-filters">{{ "Clear Filters"|t }}</button>
          <ul class="list library-field-m__list">
            <li class="list-item library-field-m__list-item" id="quick-list-data-item">
              <div class="library-field-m__list-item__container">
                <div class="library-field-m__list-item__container__item library-field-m__list-item__container__item--button">
                  <p>
                    <button class="attach button">{{ "Attach Library"|t }}</button>
                  </p>
                </div>
                <div class="library-field-m__list-item__container__item library-field-m__list-item__container__item--name">
                  <p class="name"></p>
                </div>
                  <p class="type"></p>
              </div>
            </li>
          </ul>
        </div>
      </main>
      <footer class="library-field-m__footer">
        <button class="library-field-m__btn library-field-m__btn--right button" data-micromodal-close aria-label="Close this dialog window">
          {{ "Close"|t }}
        </button>
      </footer>
    </div>
  </div>
</div>
