{#
/**
 * @file
 * The Libraries overview page
 */
#}
<div class="overview__{{ library_class }}">
  <h1 class="overview--type-heading">{{ library_label }}</h1>
  <ul class="overview__{{ library_class }}__list">
    {% for extension,library in library_data %}
      {% for library_name,library_details in library %}
        <li class="library-item-data">
          <h2>{{ extension ~ '/' ~ library_name }}</h2>
          <details>
            <summary>{{ "Library Details"|t }}</summary>
            <div class="details-wrapper">
              {% if library_details.version is defined %}
                <div class="library-item-data library-item-data--version"><span class="library-item-data--key">Version:</span> {{ library_details.version }}</div>
              {% endif %}
              {% if library_details.js is defined and library_details.js is iterable and library_details.js|length > 0 %}
                <div class="library-item-data library-item-data--js">
                  <p class="library-item-data--heading">JavaScript:</p>
                  {% for js_data in library_details.js %}
                    <ul class="library-item-data__list">
                      {% for js_key,js_value in js_data %}
                        {% if js_key == 'minified' %}
                          <li>{{ js_key }}: {{ js_value ? "true"|t : "false"|t }}</li>
                        {% else %}
                          <li><span class="library-item-data--key">{{ js_key }}:</span> {{ js_value is iterable ? js_value|join(', ') : js_value }}</li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  {% endfor %}
                </div>
              {% endif %}
              {% if library_details.css is defined and library_details.css is iterable and library_details.css|length > 0 %}
                <div class="library-item-data library-item-data--css">
                  <p class="library-item-data--heading">CSS:</p>
                  {% for css_data in library_details.css %}
                    <ul class="library-item-data__list">
                      {% for css_key,css_value in css_data %}
                        <li><span class="library-item-data--key">{{ css_key }}:</span> {{ css_value }}</li>
                      {% endfor %}
                    </ul>
                  {% endfor %}
                </div>
              {% endif %}
              {% if library_details.dependencies is defined and library_details.dependencies is iterable and library_details.dependencies|length > 0 %}
                <div class="library-item-data library-item-data--dependencies">
                  <p class="library-item-data--heading">{{ "Dependencies:"|t }}</p>
                  <ul class="library-item-data__list">
                    {% for dependency in library_details.dependencies %}
                      <li>{{ dependency }}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
              {% if library_details.license is defined and library_details.license is iterable and library_details.license|length > 0 %}
                <div class="library-item-data library-item-data--license">
                  <p class="library-item-data--heading">{{ "License:"|t }}</p>
                  <ul class="library-item-data__list">
                    {% for license_key,license_value in library_details.license %}
                      {% if license_key == 'gpl-compatible' %}
                        <li>{{ license_key }}: {{ license_value ? "true"|t : "false"|t }}</li>
                      {% else %}
                        <li><span class="library-item-data--key">{{ license_key }}:</span> {{ license_value }}</li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
              {% if library_details.drupalSettings is defined and library_details.drupalSettings is iterable and library_details.drupalSettings|length > 0 %}
                <div class="library-item-data library-item-data--drupal-settings">
                  <p class="library-item-data--heading">drupalSettings:</p>
                  <ul class="library-item-data__list">
                    {% for drupalSettings_key,drupalSettings_value in library_details.drupalSettings %}
                      {% if drupalSettings_value is empty %}
                        <li><span class="library-item-data--key">{{ drupalSettings_key }}:</span> <span class="library-item-data--value--empty">{{ "empty"|t }}</span></li>
                      {% else %}
                        <li><span class="library-item-data--key">{{ drupalSettings_key }}:</span> {{ drupalSettings_value is iterable ? drupalSettings_value|join(', ') : drupalSettings_value }}</li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
            </div>
          </details>
        </li>
      {% endfor %}
    {% endfor %}
  </ul>
</div>
